include README.md
include requirements.txt
include src/sk_dsp_comm/__version__.py
include src/sk_dsp_comm/ca1thru37.txt
include logo.png
include Capture_Buffer.png
include two_channel_stream.png
include LICENSE.md
